In [1]:
import pandas as pd
import numpy as np

In [5]:
# Playing with Dataframe

df= pd.DataFrame(np.arange(0,20).reshape(5,4),
                 index=['Row1','Row2','Row3','Row4','Row5'],
                 columns=['column1','column2','column3','column4'])

In [7]:
df.head()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [35]:
df[['column1','column3']]

      column1  column3
Row1        0        2
Row2        4        6
Row3        8       10
Row4       12       14
Row5       16       18

In [9]:
# df.to_csv('Test1.csv')

In [11]:
# Accessing the elements
# 1. .loc    2. ,iloc
df.loc['Row1']

column1    0
column2    1
column3    2
column4    3
Name: Row1, dtype: int32

In [13]:
type(df.loc['Row1'])

pandas.core.series.Series

In [15]:
df.iloc[:,:]

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [17]:
df.iloc[0:3,0:2]

      column1  column2
Row1        0        1
Row2        4        5
Row3        8        9

In [21]:
type(df.iloc[0:3,0:2])

pandas.core.frame.DataFrame

In [23]:
# Take the elments from the column 2
df.iloc[:,1:]

      column2  column3  column4
Row1        1        2        3
Row2        5        6        7
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

In [25]:
# Convert Dataframes into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [27]:
df.iloc[:,1:].values.shape

(5, 3)

In [31]:
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [29]:

df['column1'].value_counts()

column1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [33]:
df['column1'].unique()

array([ 0,  4,  8, 12, 16])